@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .header{
        height: 5em;
    }
    .header h1{
        width: 100%;
        font-size: 3em;
        text-align: center;
    }
    figcaption{
        text-align: center;
    }
    audio{
        width: 100%;
    }
    .texte{
        border: 2px solid #9f011b;
        border-radius: 8%;
        width: 80%;
        height: 27em;
        margin: auto;
    }
    p{
        color: white;
    }
    .amour{
        height: 2em;
    }
    .amour p{
        color: #9f011b;
        font-size: 3em;
        text-align: center;
        font-family: "valentine";
    }
}


