@font-face {
    font-family: "valentine";
    src:url("../css/police/valentine_soul/ValentineSoul.ttf");
}
body{
    margin: auto;
}

.header{
    width: 100%;
    background-color: #9f011b;
}

.header h1{
    width: 25%;
    margin: auto;
    color: white;
    font-family: "valentine";
    font-size: 5em;
}

.texte{
    background-image: url("../images/modif.jpg");
    background-repeat: no-repeat;
    border: 2px solid #9f011b;
    border-radius: 8%;
    width: 40%;
    height: 25em;
    margin: auto;
}
